
.aboutus {
    border: 5px solid white;
    height: 10vh;
    width: 150px;
    margin: 75px;
    margin-top: 20vh;
}

.loginout {
    border: 5px solid white;
    height: 5vh;
    width: 80px;
    bottom: 350px;
    margin: 75px;
    position: absolute;
}

