* {
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: lightgray;
}

.head {

    margin: 0;
    padding: 0;
    height: 7vh;
    color: white;
    background-color: 	#0000FF;

}