@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
    --seak-main-color: #347CFF
}


.section-divider {
    min-width: max-content;
    max-height: 40px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.section-divider h4 {
    color: var(--seak-main-color);
}

.content {
    display: flex;
    flex-direction: column;
}
.event-section {
    min-height:87vh;
}
.event-card {
    display: flex;
    gap: 25px;
    height: 100px;
    background-color: white;
    border: 1px solid grey;
}
.event-card img {
    position: relative;
    width: 90px;
    height: 70px;
    top: 10px;
    left: 10px;
}
.event-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.event-text h4 {
    position: relative;
    top: 10px;
}
.event-card .icons {
    position: relative;
    top: 10%;
    left: 5%;
}
